$colorBlack: #111111;
$colorGray: #373737;
$colorWhite: #f4f4f4;

.benefits_title
{
    background-color: $colorBlack;
    color: $colorWhite;
}  

.benefits_cards
{
    background-color: $colorBlack;
    color: $colorWhite;
}